In [1]:
import pandas as pd
import numpy as np

In [ ]:
# Load your dataset from a CSV file into a Pandas DataFrame.
df = pd.read_csv('../Data\HR-Employee-Attrition.csv')

### 1. Basic Checks

In [ ]:
# Display the first 5 rows of the DataFrame.
df.head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
# Display the last 5 rows of the DataFrame.
df.tail(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [12]:
# Display a concise summary of the DataFrame.
# This includes the column names, number of non-null values (useful for identifying missing data),
# and the data type of each column (e.g., int64 for integers, object for strings).

print("\nColumn names and their data types:")
print(df.info())

Column names and their data types:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB
None

In [13]:
# Generate descriptive statistics for numerical columns in the DataFrame.
# This provides insights into the central tendency, dispersion, and shape of the data's distribution.
# Statistics include count, mean, standard deviation, min, max, and quartile ranges (25%, 50%, 75%).

print("\nDescriptive statistics for numerical columns:")
print(df.describe())

Descriptive statistics for numerical columns:
               Age    DailyRate  DistanceFromHome    Education  EmployeeCount  \
count  1470.000000  1470.000000       1470.000000  1470.000000         1470.0
mean     36.923810   802.485714          9.192517     2.912925            1.0
std       9.135373   403.509100          8.106864     1.024165            0.0
min      18.000000   102.000000          1.000000     1.000000            1.0
25%      30.000000   465.000000          2.000000     2.000000            1.0
50%      36.000000   802.000000          7.000000     3.000000            1.0
75%      43.000000  1157.000000         14.000000     4.000000            1.0
max      60.000000  1499.000000         29.000000     5.000000            1.0

       EmployeeNumber  EnvironmentSatisfaction   HourlyRate  JobInvolvement  \
count     1470.000000              1470.000000  1470.000000     1470.000000
mean      1024.865306                 2.721769    65.891156        2.729932
std        602.024335                 1.093082    20.329428        0.711561
min          1.000000                 1.000000    30.000000        1.000000
25%        491.250000                 2.000000    48.000000        2.000000
50%       1020.500000                 3.000000    66.000000        3.000000
75%       1555.750000                 4.000000    83.750000        3.000000
max       2068.000000                 4.000000   100.000000        4.000000

          JobLevel  ...  RelationshipSatisfaction  StandardHours  \
count  1470.000000  ...               1470.000000         1470.0
mean      2.063946  ...                  2.712245           80.0
std       1.106940  ...                  1.081209            0.0
min       1.000000  ...                  1.000000           80.0
25%       1.000000  ...                  2.000000           80.0
50%       2.000000  ...                  3.000000           80.0
75%       3.000000  ...                  4.000000           80.0
max       5.000000  ...                  4.000000           80.0

       StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
count       1470.000000        1470.000000            1470.000000
mean           0.793878          11.279592               2.799320
std            0.852077           7.780782               1.289271
min            0.000000           0.000000               0.000000
25%            0.000000           6.000000               2.000000
50%            1.000000          10.000000               3.000000
75%            1.000000          15.000000               3.000000
max            3.000000          40.000000               6.000000

       WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
count      1470.000000     1470.000000         1470.000000
mean          2.761224        7.008163            4.229252
std           0.706476        6.126525            3.623137
min           1.000000        0.000000            0.000000
25%           2.000000        3.000000            2.000000
50%           3.000000        5.000000            3.000000
75%           3.000000        9.000000            7.000000
max           4.000000       40.000000           18.000000

       YearsSinceLastPromotion  YearsWithCurrManager
count              1470.000000           1470.000000
mean                  2.187755              4.123129
std                   3.222430              3.568136
min                   0.000000              0.000000
25%                   0.000000              2.000000
50%                   1.000000              3.000000
75%                   3.000000              7.000000
max                  15.000000             17.000000

[8 rows x 26 columns]

In [15]:
# Check for missing values in each column.
# `.isnull()` returns a boolean DataFrame (True for missing, False for not missing).
# `.sum()` then counts the number of True values (i.e., missing values) for each column.

print("\nMissing values in each column:")
print(df.isnull().sum())

Missing values in each column:
Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [16]:
# Check for duplicate rows across the entire DataFrame.
# `.duplicated()` returns a boolean Series indicating if each row is a duplicate of a previous row.
# `.sum()` then counts the total number of True values (i.e., duplicate rows).

print("\nNumber of duplicate rows:")
print(df.duplicated().sum())

Number of duplicate rows:
0

### 2. Data Cleaning.

### **Step 2: Data Cleaning**

Data cleaning is a crucial phase where you prepare your raw data for analysis. Real-world datasets are often messy and contain inconsistencies, errors, or unsuitable formats. This step ensures the data is accurate, consistent, and ready for effective exploration and modeling.

**A. Objective:**
* To handle missing values (if any).
* To address duplicate records (if any).
* To correct incorrect data types (e.g., numbers stored as text).
* To handle outliers or inconsistencies (though this dataset seems quite clean based on initial checks).
* To transform data into a more usable format for analysis.

**B. Why it's important:**
* **Accuracy:** Incorrect or messy data can lead to flawed analysis and misleading insights.
* **Consistency:** Ensures data is uniform, allowing for proper comparisons and aggregations.
* **Usability:** Many analysis and visualization tools or statistical models require specific data formats and clean inputs.
* **Efficiency:** Clean data makes subsequent analysis steps much smoother and faster.

**C. Common Cleaning Tasks for this HR Dataset:**
Based on our initial check, this dataset is quite clean. We found:
* No missing values.
* No duplicate rows.

However, one important cleaning/preprocessing step for this specific dataset is to convert the `Attrition` column from its 'Yes'/'No' text format to a numerical format (e.g., 1 for 'Yes', 0 for 'No'). This is essential because most statistical analysis and machine learning algorithms work better with numerical data.

In [17]:
# 1. Convert the 'Attrition' column from categorical ('Yes'/'No') to numerical (1/0).
# This mapping makes it easier to perform mathematical calculations and statistical analysis.
df['Attrition'] = df['Attrition'].map({'Yes': 1, 'No': 0})

In [18]:
# Display the updated value counts for the 'Attrition' column to verify the conversion.
print("Updated Attrition Counts (0: No, 1: Yes):")
print(df['Attrition'].value_counts())

Updated Attrition Counts (0: No, 1: Yes):
Attrition
0    1233
1     237
Name: count, dtype: int64

In [19]:
# Calculate and print the overall attrition rate as a percentage.
# This gives a baseline understanding of employee turnover in the company.
overall_attrition_rate = df['Attrition'].mean() * 100
print(f"\nOverall Attrition Rate: {overall_attrition_rate:.2f}%")

Overall Attrition Rate: 16.12%

In [ ]:
# Rename a column for better clarity or consistency.
# Here, 'EmployeeNumber' is renamed to 'EmployeeID'.
df = df.rename(columns={'EmployeeNumber': 'EmployeeID'})

In [21]:
# Check for unique values in a categorical column to identify potential inconsistencies or typos.
# This helps in understanding the distinct categories present, e.g., in the 'Department' column.
print("\nUnique values in 'Department' before any potential cleaning:")
print(df['Department'].unique())

Unique values in 'Department' before any potential cleaning:
['Sales' 'Research & Development' 'Human Resources']

In [22]:
# Convert 'Age' column to a specific integer type (e.g., int32) for memory efficiency or consistency.
# Explicitly setting the data type ensures it's stored and treated as intended.
df['Age'] = df['Age'].astype('int32')

In [23]:
# Apply string strip to a text column to remove any leading/trailing whitespace.
# This helps standardize text data, even if no obvious whitespace is present in this clean dataset.
df['JobRole'] = df['JobRole'].str.strip()

In [24]:
# Drop a column that is constant or not relevant for the analysis.
# 'EmployeeCount' is always 1 in this dataset, making it redundant for analysis.
df = df.drop('EmployeeCount', axis=1)

In [25]:
# Display the updated DataFrame Info to show changes (e.g., EmployeeCount removed, Age type changed).
print("\nUpdated DataFrame Info after cleaning operations:")
print(df.info())

Updated DataFrame Info after cleaning operations:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int32
 1   Attrition                 1470 non-null   int64
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeID                1470 non-null   int64
 9   EnvironmentSatisfaction   1470 non-null   int64
 10  Gender                    1470 non-null   object
 11  HourlyRate                1470 non-null   int64
 12  JobInvolvement            1470 non-null   int64
 13  JobLevel                  1470 non-null   int64
 14  JobRole                   1470 non-null   object
 15  JobSatisfaction           1470 non-null   int64
 16  MaritalStatus             1470 non-null   object
 17  MonthlyIncome             1470 non-null   int64
 18  MonthlyRate               1470 non-null   int64
 19  NumCompaniesWorked        1470 non-null   int64
 20  Over18                    1470 non-null   object
 21  OverTime                  1470 non-null   object
 22  PercentSalaryHike         1470 non-null   int64
 23  PerformanceRating         1470 non-null   int64
 24  RelationshipSatisfaction  1470 non-null   int64
 25  StandardHours             1470 non-null   int64
 26  StockOptionLevel          1470 non-null   int64
 27  TotalWorkingYears         1470 non-null   int64
 28  TrainingTimesLastYear     1470 non-null   int64
 29  WorkLifeBalance           1470 non-null   int64
 30  YearsAtCompany            1470 non-null   int64
 31  YearsInCurrentRole        1470 non-null   int64
 32  YearsSinceLastPromotion   1470 non-null   int64
 33  YearsWithCurrManager      1470 non-null   int64
dtypes: int32(1), int64(25), object(8)
memory usage: 384.9+ KB
None

In [26]:
# Display a quick check for missing values again to confirm no issues arose (or were fixed) during cleaning.
print("\nTotal missing values after cleaning (should be 0):")
print(df.isnull().sum().sum())

Total missing values after cleaning (should be 0):
0

In [27]:
# Display a quick check for duplicate rows again to confirm no duplicates were introduced or missed.
print("\nTotal duplicate rows after cleaning (should be 0):")
print(df.duplicated().sum())

Total duplicate rows after cleaning (should be 0):
0